<mat-card class="card">
  <mat-card-title style="text-align: left">Change Duty Cycle</mat-card-title>
  <div class="row">
    <app-duty-slider
      [min]="this.min"
      [max]="this.max"
      [step]="this.step"
      class="slider"
      [duty]="duty"
      (changeDuty)="setLifetime($event)"
    ></app-duty-slider>
  </div>
  <div class="row content">
    <mat-list *ngIf="simulations$[duty] | async as lifetime; else loading">
      <mat-list-item>
        <div mat-line style="font-size: 1.5rem; margin-bottom: 10px">
          {{ formatBattery(lifetime) | formatSeconds }}
        </div>
        <div mat-line>Battery Lifetime</div>
      </mat-list-item>
    </mat-list>
  </div>
  <ng-template #loading>
    <mat-spinner
      matTooltip="Simulation running..."
      matTooltipPosition="below"
      class="custom-spinner"
      diameter="80"
      style="margin: 0 auto"
    ></mat-spinner>
  </ng-template>

  <div class="row">
    <button
      (click)="changeDuty()"
      [disabled]=""
      mat-raised-button
      color="accent"
    >
      Update Sensors
    </button>
  </div>
</mat-card>
