<div>
  <div class="row">
    <div class="column">
      <app-show-battery [thing]="thing" class="component"></app-show-battery>
    </div>
    <div class="column">
      <app-show-duty [duty]="thing.duty" class="component"></app-show-duty>
    </div>

    <div class="column">
      <app-show-power [thing]="thing" class="component"></app-show-power>
    </div>
    <div class="column">
      <app-show-harvester
        [type]="thing.harvId"
        class="component"
      ></app-show-harvester>
    </div>
  </div>

  <div class="row">
      <app-control-duty [thing]="thing" (dutyChanged)="dutyChanged.emit($event)" class="component"></app-control-duty>
  </div>
</div>
