.card {
  text-align: center;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.content {
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80%;
}

.power {
  font-family: Roboto;
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2;
}
