<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle>Power</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content">
    <mat-list *ngIf="thing$ | async as thing">
      <mat-list-item>
        <!--         <mat-icon mat-list-icon>bolt</mat-icon>
 -->
        <div mat-line style="font-size: 1.3rem">
          {{ calculatePower(thing) | number: ".2-2" }} W
        </div>
        <div mat-line>Current Power</div>
      </mat-list-item>
      <mat-list-item>
        <!--         <mat-icon mat-list-icon>bolt</mat-icon>
 -->
        <div mat-line style="font-size: 1.3rem">
          {{ (thing.activeI / 1000) * thing.Vload | number: ".2-2" }} W
        </div>
        <div mat-line>Maximum Power</div>
      </mat-list-item>
      <mat-list-item>
        <div mat-line style="font-size: 1.4rem">
          {{
            calculatePower(thing) / ((thing.activeI / 1000) * thing.Vload)
              | percent
          }}
        </div>
        <div mat-line>Power Usage</div>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
