<mat-card class="card">
  <mat-card-header>
    <mat-card-subtitle>Battery</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content class="content">
    <span [style.color]="battery.color" class="material-icons parent">{{
      battery.charge
    }}</span>
    <div>
      <div class="power">{{ charge | percent }}</div>
      <div *ngIf="isLoading; else timer">
        <mat-spinner
          matTooltip="Simulation running..."
          matTooltipPosition="below"
          class="custom-spinner"
          diameter="30"
          style="margin: 0 auto"
        ></mat-spinner>
      </div>
      <ng-template #timer>
        <div *ngIf="batteryLifetime >= 0; else batteryUnknown">
          <app-timer
            [style.color]="battery.color"
            [seconds]="false"
            [time]="formatBattery(batteryLifetime)"
          ></app-timer>
        </div>
        <ng-template #batteryUnknown>
          <app-timer
            [style.color]="battery.color"
            [seconds]="false"
            [time]="formatBattery(batteryChargeTime)"
          ></app-timer>
        </ng-template>
      </ng-template>
    </div>
    {{ batteryLifetime >= 0 ? "Discharging Time" : "Charging Time" }}
  </mat-card-content>
</mat-card>
